/* Estilos do hero */
.hero-section{
    background: url(../../images/banner/hero-jpg.jpg) no-repeat center center/cover;
   
height: 500px;
position: relative;
display: flex;    
}

.hero-overlay{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: end;
    padding: 0 6rem;
}

.hero-content{
    color: #ffffff;
    max-width: 388px;
    text-align: center;
}
.hero-content .hero-title{
    font-size: 1.87rem;
    margin-bottom: 40px;
    font-weight: 400;
    line-height: 23px;
}
.hero-content .hero-subtitle{
    font-size: 1.25rem;
    font-weight: 400;
}

.hero-buttons{
    display: flex;
    gap: 16px;
    justify-content: center;
}
.btn{
    font-size: 1.25rem;
    width: 161px;
    height:48px;
    border-radius: 25px;
    color: #ffffff;
    font-weight: 400;
    padding: 10px 20px;
    transition: background-color 0.3s ease, color 0.3s ease;
    }
    .btn-outline{
        border: 2px solid #ffffff;
        background-color: transparent;
    }

    .btn-filled{
        background-color: #ffffff;
        color: #6329a2;
    }
    .btn:hover{
        background-color:#6329a2 ;
        color: #ffffff;
        border-color: #6329a2;
    }
