/* Estilos do hero */
.hero-section{
    background: url(../../images/banner/hero-jpg.jpg) no-repeat center center/cover;
border-radius: 20px;   
height: 500px;
position: relative;
display: flex;    
}

.hero-overlay{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: end;
    padding: 0 6rem;
}

.hero-content{
    color: #ffffff;
    max-width: 388px;
    text-align: center;
}
.hero-content .hero-title{
    font-size: 1.87rem;
    margin-bottom: 40px;
    font-weight: 400;
    line-height: 23px;
}
.hero-content .hero-subtitle{
    font-size: 1.25rem;
    font-weight: 400;
}

.hero-buttons{
    display: flex;
    gap: 16px;
    justify-content: center;
}
